#myHeader {
    background-color: navy;
    color: mediumaquamarine;
    padding: 50px;
    text-align: center
}

.fancy {
    background-color: yellowgreen;
    color: antiquewhite;
    padding: 10px
}

.weeee{
    background-color:indianred
}